/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
/* # Primary */
:root{
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/* ### Neutral */

--main-BG: hsl(217, 54%, 11%);
--card-BG: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5% ;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-BG);
}

/* card style */
.container{
    width: 100vw;
    height: 100vh;
    /* border: 1px solid magenta; */
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.card{
    background-color: var(--card-BG);
    width: 88%;
    border-radius: 2rem;
    padding: 2.5rem;
}

.hero{
    width: 100%;
    border-radius: 1rem;
}

